APP_ENVIROMENT="development"
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
MASTER_PASSWORD=
SESSION_AWARENESS_FEATURE_DOMAIN=1
SESSION_AWARENESS_FEATURE_TOKEN=
PDF_TOOL_URL=
INTENT_RECOGNITION_DOMAIN=
NEXT_PUBLIC_WEBAPP_BASE_URL=
WHISPER_ENDPOINT_API_KEY=
WHISPER_ENDPOINT_URL=
LIVE_TRANSCIPTION_DOMAIN=

DEEPGRAM_API_KEY=
DEEPGRAM_ENV="development"
FORM_ENGINE_DOMAIN=
MAIL_HOST=
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_FROM=
INVITE_SECRET=
